// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$totor-color: #00aeba;
// former light gray color for form which has bad contrast on presentation
// $totor-color-light-gray: #8db6b7;
// $totor-color-light-gray: #719091;
$totor-color-light-gray: #384949;
$totor-color-dark: #214142;
// $totor-color-dark: #152a2b;
