// Specific CSS for your home-page

// .home-container {
//   width:100px ;
// }


.passenger_number {
  display : flex;
  justify-content: space-between;
  align-item: center;
}

.form-passenger .form-group {
  display : flex;
  justify-content: space-between;
  align-item: center;
}
