

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1"></label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Gare d'arrivée">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"></label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Jour d'arrivé">
    </div><div class="form-group"><label for="exampleInputPassword1"></label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Heure d'arrivée">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"></label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Numéros de train ( fac)">
    </div>
     <div class="form-group">
      <label for="exampleInputPassword1"></label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Saisissez une destination">
    </div>

    <div class="form-group ">
     <div class="passenger_number row">
       <label for="exampleInputPassword1">
       <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Nombre de personnes">
      </label>
       <select class="form-control col-xs-3">
         <option>1</option>
         <option>2</option>
         <option>3</option>
         <option>4</option>
         <option>5</option>
         <option>6</option>
       </select>
     </div>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>

