

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1"></label>
        <input type="email" class="form-control soft-angle" id="exampleInputEmail1" placeholder="Gare d'arrivée">
      </div>
      <div class="form-group ">
        <label for="exampleInputPassword1"></label>
        <input type="password" class="form-control soft-angle" id="exampleInputPassword1" placeholder="Jour d'arrivée">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"></label>
        <input type="password" class="form-control soft-angle" id="exampleInputPassword1" placeholder="Heure d'arrivée">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"></label>
        <input type="password" class="form-control soft-angle" id="exampleInputPassword1" placeholder="Numéros de train ( fac)">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"></label>
        <input type="password" class="form-control soft-angle" id="exampleInputPassword1" placeholder="Saisissez une destination">
      </div>

      <div class="form-group row ">
          <div class="col-xs-8">

              <label type="password" class="form-control truncate soft-angle
    "  id="exampleInputPassword1" >
            n° de passagers
              </label>
          </div>
          <div class="col-xs-4 ">
            <select class="form-control soft-angle
  ">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </div>
      </div>


      <button type="submit" class="btn btn-default col-xs-4 soft-angl">Submit</button>
    </form>


