

    <div class="container">
      <form action="<%= rides_path %>" method= "get">

        <div class="form-group row mt+ ">
            <div class="col-xs-8">
              <label type="text" class="form-control truncate soft-angle"  id="exampleInputPassword1" > Gare d'arrivée </label>
            </div>
            <div class="col-xs-4 ">
              <input class="form-control soft-angle" type="text" name="search[start_point]" id="search-stations">
            </div>
        </div>

        <!-- Date Time -->
        <div style="overflow:hidden;">
           <div class="form-group">
               <div class="row">
                   <div class="col-md-8">

                        <div id="datetimepicker12" data-date="12/03/2012 24:00 "></div>.    <!--      Cecile j'ai modifié ça 12:00 PM en 24:00 -->
                        <input type="hidden" name="train_arrival_at" id="hdp" value="">

                   </div>
               </div>
           </div>
        </div>


        <div class="form-group">
          <label for="train-num"></label>
          <input type="text" name="search[train_ref]" class="form-control soft-angle" id="train-num" placeholder="Numéros de train">
        </div>
        <div class="form-group">
          <label for="dest"></label>
          <input type="text" name="search[end_point]" class="form-control soft-angle" id="dest" placeholder="Saisissez une destination" required>
        </div>
        <div class="form-group row ">
            <div class="col-xs-8">
                <label type="text" class="form-control truncate soft-angle
      "  id="exampleInputPassword1" >
              Nombre de passagers
                </label>
            </div>
            <div class="col-xs-4 ">
              <select class="form-control soft-angle
        " type="text" name="search[passenger_number]" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </div>
        </div>


        <input type="submit" name="submit-button" value =" Submit" class="btn btn-default col-xs-4 soft-angle" href="">

      </form>
    </div>


