

    <div class="container">
      <form action="<%= rides_path %>" method= "get">

        <div class="form-group row mt+ ">
            <div class="col-xs-8">
              <label type="text" class="form-control truncate soft-angle"  id="exampleInputPassword1" > Gare d'arrivée </label>
            </div>
            <div class="col-xs-4 ">
              <select class="form-control soft-angle" type="text" name="search[start_point]">
                <option>Marseille Saint-Charles</option>
                <option>Gare de Lille Flandre</option>
                <option>Avigon TGV</option>
              </select>
            </div>
        </div>
        <div class="form-group ">
          <label for="day"></label>
          <input type="date" name ="search[train_arrival_date]" class="form-control soft-angle" id="day" placeholder="Jour d'arrivée" required>
        </div>


        <div class="form-group row">
            <div class="col-xs-8">
              <label type="text" class="form-control truncate soft-angle"  id="exampleInputPassword1" > Heure d'arrivée </label>
            </div>
            <div class="col-xs-4 ">
              <select class="form-control soft-angle" type="time" name="search[train_arrival_time]">
                <option value="1">1h</option>
                <option value="2">2h</option>
                <option value="3">3h</option>
                <option value="4">4h</option>
                <option value="5">5h</option>
                <option value="6">6h</option>
                <option value="7">7h</option>
                <option value="8">8h</option>
                <option value="9">9h</option>
                <option value="10">10h</option>
                <option value="11">11h</option>
                <option value="12">12h</option>
                <option value="13">13h</option>
                <option value="14">14h</option>
                <option value="15">15h</option>
                <option value="16">16h</option>
                <option value="17">17h</option>
                <option value="18">18h</option>
                <option value="19">19h</option>
                <option value="20">20h</option>
                <option value="21">21h</option>
                <option value="22">22h</option>
                <option value="23">23h</option>
                <option value="00">00h</option>
              </select>
            </div>
        </div>
        <div class="form-group">
          <label for="train-num"></label>
          <input type="text" name="search[train_ref]" class="form-control soft-angle" id="train-num" placeholder="Numéros de train">
        </div>
        <div class="form-group">
          <label for="dest"></label>
          <input type="text" name="search[end_point]" class="form-control soft-angle" id="dest" placeholder="Saisissez une destination" required>
        </div>
        <div class="form-group row ">
            <div class="col-xs-8">
                <label type="text" class="form-control truncate soft-angle
      "  id="exampleInputPassword1" >
              Nombre de passagers
                </label>
            </div>
            <div class="col-xs-4 ">
              <select class="form-control soft-angle
        " type="text" name="search[passenger_number]" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </div>
        </div>


        <input type="submit" name="submit-button" value =" Submit" class="btn btn-default col-xs-4 soft-angle" href="">

      </form>
    </div>


