
  <ul class="StepProgress">
    <li class="StepProgress-item is-done"><strong><%= @ride.start_point.station %></strong></li>
    <li class="StepProgress-item is-done"><strong><%= @ride.end_point.address %></strong>
  </ul>

