<div class="container">
  <div class = "row ">
    <div class= "col-xs-12 text-center">
      <h3 >Trajets disponibles</h3>
    </div>
  </div>
</div>


<div class="rides-wrapper">
  <div class="container">

    <% @rides_same_train.each do |r| %>
      <h3>Dans votre train !  </h3>
        <div class="row">
            <%= render 'shared/rides_card_content', ride: r %>
        </div>
    <% end %>
    </div>
  </div>

  <div class="container">
      <% @rides_not_same_train.each do |r| %>
        <div class="row">
            <%= render 'shared/rides_card_content', ride: r %>
        </div>
      <% end %>
  </div>

