<div class="container">
  <div class = "row ">
    <div class= "col-xs-12 text-center">
      <h3 >Trajets disponibles</h3>
    </div>
  </div>
</div>


<% @matching_rides.each do |r| %>
  <% if r.train_ref == @matching_train %>
    <div class="rides-wrapper">
      <div class="container">
        <div class="row">
          <h3>Dans votre train !  </h3>
            <%= render 'shared/rides_card_content', ride: r %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container">
        <div class="row">
          <h3>Autres trains </h3>
            <%= render 'shared/rides_card_content', ride: r %>
        </div>
    </div>
  <% end %>
<% end %>
